{% extends "layout.html" %}

{% block title %}
    Bookfinder
{% endblock %}

{% block body %}
    <h1>Welcome to Bookfinder</h1>
    <h3>Please Log On</h3>
    <div class="row">
    <aside class="col-sm-4">
    </aside>
    <aside class="col-sm-4">
    <div class="card">
    <article class="class-body">
    <a href="{{ url_for('register') }}" class="float-right btn btn-outline-primary">Sign up</a>
    <h4 class="card-title mb-4 mt-1">Sign in</h4>
	 <form action="{{ url_for('success') }}" method="post">
    <div class="form-group">
    	<label>Your email</label>
        <input name="user" class="form-control" placeholder="Email" type="email" aria-describedby="emailHelp" id="user">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div> <!-- form-group// -->
    <div class="form-group">
    	<label>Your password</label>
        <input name="password" type="password" class="form-control" id="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}">
    </div> <!-- form-group// -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Login  </button>
    </div> <!-- form-group// -->
  </form>
  </article>
  {% if not message==None %}
    <div class="alert alert-danger" role="alert">
    {{ message }}
    </div>
  {% endif %}
  </div> <!-- card.// -->
  </aside>
  </div>

{% endblock %}
